<h1>About GretzLab</h1>
<p>
GretzLab is a scratch site for me (Josh Gretz). The intent is to keep track of the various projects (both technical and culinary) I have going, as well as the occasional blog entry I write.
</p>
<p>
Enjoy and feel free to reach out on Twitter.
</p>

<h1>About Josh</h1>
<p>
Josh is the CTO at <a href="http://www.truefitinnovation.com" target="_blank">Truefit</a>, where he helps our talented team explore new areas, expand their skills, and imagine creative approaches to creating software people love to use. He is passionate about exploring the cutting edge for both technology and business. Whether leading project, speaking at conferences or volunteering, he is committed to leaving the world a little than he found it.
</p>

<p>
He graduated from Grove City College in 2004 with a B.S. in Computer Information Systems and a minor in business. You can still find him around campus, advising students and teaching a class as an adjunct professor.
</p>

<p>
Josh resides in Cranberry Township, PA with his wife, three sons, and their labradoodle. He can normally be found wearing shorts (even in December) in front of a computer delving into some new experiment. When he is not being beguiled by code, you can find him playing basketball, watching any sport known to man (seriously, he stays up late to watch Olympic Handball), or creating some tasty morsel in the kitchen.
</p>