<h1>Welcome</h1>
<p>
My name is Josh Gretz, and I'm a maker living in Pittsbugh. By day (and many nights), I'm the CTO of <a href="http://www.truefitinnovation.com/" target="_blank">Truefit</a>, an awesome company that creates software products people love. This is my personal site, and my intent is for it to have a couple of different purposes (listed below). 
</p>
<p>
Enjoy and feel free to reach out on <a href="http://www.twitter.com/joshgretz" target="_blank">Twitter</a>.
</p>
<ul class="list-unstyled">
	<li>
		<h3>
		The Lab
		</h3>
		<p>
		This will be a record of both projects that I currently have on then bench and am working on, and projects I have on the shelf. Realtive to the current time and craziness, these projects may be technical projects, talks, or tasty morsels.
		</p>
	</li>
	<li>
		<h3>
		A Scratch Site
		</h3>
		<p>
		I love making things, and I often need a place to play with whatever it is I am working on. If somethings broken, weird, or just seems off - its most likely becasue I'm messign around. 
		</p>
	</li>
	<li>
		<h3>
		Blog
		</h3>
		<p>
		From time to time, I want to record my thoughts on a given topic (typically a technical problem that was more difficult to solve than I think it should be). I'll record those musings here.
		</p>
	</li>
</ul>