<h1>Hey there</h1>
<p>
I'm Josh Gretz. I'm a maker living in Pittsbugh. I love exploring, learning, and creating. You can normally find me wearing shorts (even in December) in front of a computer delving into some new experiment. When I'm not being beguiled by code, you can find me playing basketball, watching any sport known to man (seriously, I love staying up late to watch Olympic Handball), or creating some tasty morsel in the kitchen. No matter what or where I'm making, I'm committed to leaving the world a little better than I found it.
<p>

<h2>By Day</h2>
<p>
I'm the CTO of <a href="http://www.truefit.io" target="_blank">Truefit</a>, an awesome software company in downtown Pittsburgh. I spend my days helping our talented team explore new areas, expand their skills, and imagine creative approaches to creating software people love. I am privileged to work with an amazing group of people that understand the challenges our customers face and are gifted at overcoming those challenges with innovative solutions. I count myself blessed that this same cadre of creators also are kind enough to put up with my eccentricities on a daily basis.
</p>

<h2>By Night</h2>
<p>
I'm the father of three sons, who daily manage to surpass the "wish" my parents had for me to have children just like me. I am also blessed to be the husband of a beautiful, creative and patient wife. You can follow our adventures through her eyes on her blog <a href="https://3boysandadoodle.wordpress.com/" target="_blank">Three Boys and a Doodle</a>. Many of my nights are spent poking at some new idea, topic, or thought that popped into my ADD brain.
</p>

<h2>Where I've Been</h2>
<p>
I joined Truefit as an intern in 2003 and have been there ever since. Over the years, I've been blessed to be able to be part of a journey that has taken us from a small company that no one knew anything about in Cranberry Twp to an increasingly well know and respected boutique innovation firm in downtown Pittsburgh. 
</p>
<p>
Before Truefit, I attended Grove City College. I graduated in 2004 with a B.S. in Computer Information Systems and a minor in Business. Over the years since graduation, I've enjoyed many opportunites to remain involved with the CS department, even serving as an adjunct professor for a while.
</p>
<p>
I grew up in Columbus, OH. It's a wonderful city, and home to my beloved Buckeyes.
</p>