.footer-container {
	background-color: $black;
	padding-top: 5px;
}

.footer {
	height: 30px;

	font-family: $roboto-slab;
	font-weight: 200;
	font-size: 1.15em;

	background-color: $black;
	color: $white;

	ul {
		margin-top: 5px;
	}

	a {
		color: $white;
	}
}