<div class="content-item">
	<h1>Biscuits and Gravy</h1>
	<span class="yield">Yields 8-10 Servings</span>

	<h3>Biscuits</h3>
	<h4>Ingredients</h4>
	<ul>
		<li>2.5 cup self rising flour</li>
		<li>2 tsp sugar</li>
		<li>.5 tsp kosher salt</li>
		<li>4 tbsp vegetable shortening</li>
		<li>4 tbsp butter</li>
		<li>1 cup buttermilk</li>
	</ul>
	<h4>Instructions</h4>
	<ol>
		<li>reheat oven to 450</li>
		<li>Whish flour, sugar, and salt</li>
		<li>Fold in shortening and butter (less handling the better = fluffy biscuits)</li>
		<li>Pour in butter milk and mix (don’t over mix)</li>
		<li>Flour surface</li>
		<li>Fold over itself 2 or 3 times, make into a mound, and roll out</li>
		<li>Cut biscuits (don’t twist), flour biscuit cutter in between if needed</li>
		<li>Place on cookie sheet</li>
		<li>Bake 15-18 minutes</li>
	</ol>

	<h3>Sausage for Gravy</h3>
	<h4>Ingredients</h4>
	<ul>
		<li>2 lb pork</li>
		<li>2 tsp salt</li>
		<li>1.5 tsp	pepper</li>
		<li>2 tsp sage</li>
		<li>2 tsp thyme</li>
		<li>.5 tsp rosemary</li>
		<li>1 tbsp brown sugar</li>
		<li>.5 tsp cayenne</li>
		<li>.25 tsp red pepper</li>
	</ul>
	<h4>Instructions</h4>
	<ol>
		<li>Grind Meat</li>
		<li>Mix Spices</li>
		<li>Lightly Brown</li>
	</ol>

	<h3>Gravy</h3>
	<h4>Ingredients</h4>
	<ul>
		<li>1 lb Sausage</li>
		<li>.25	cup	Diced Onion</li>
		<li>6 tbsp Flour</li>
		<li>4 cups Whole Milk</li>
		<li>.5 tsp Poultry Seasoning</li>
		<li>.5 tsp Nutmeg</li>
		<li>.25 tsp	Salt</li>
		<li>1 dash Worcestershire</li>
		<li>1 dash Tabasco</li>
		<li>1 tbsp Butter</li>
	</ul>
	<h4>Instructions</h4>
	<ol>
		<li>Add onion to a little of the sausage grease (or a little butter), stir until transparent</li>
		<li>Add sausage</li>
		<li>Add flour and butter, stir 6-8 minutes, until you have a "sausage roux"</li>
		<li>Add seasoning and stir until mixed</li>
		<li>Add milk</li>
		<li>Stir until thickened</li>
	</ol>
</div>