<div class="content-item">
	<h1>Buttermilk Fried Chicken</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>3 lbs Chicken Breast Strips</li>
	</ul>
	<h3>Milk Bath</h3>
	<ul>
		<li>2 cups Buttermilk</li>
		<li>6 cloves Garlic (crushed)</li>
		<li>1 Onion (diced)</li>
		<li>1 tsp Salt</li>
		<li>1 tsp Black Pepper</li>
		<li>1 tsp Cayenne Pepper</li>
		<li>.5 tsp Paprika</li>
	</ul>
	<h3>Breading</h3>
	<ul>
		<li>2 cups Flour</li>
		<li>1 tbsp Baking Powder</li>
		<li>1 tbsp Seasoning Salt</li>
		<li>.5 tsp Cayenne Pepper</li>
		<li>.5 tsp Paprika</li>
		<li>.25	tsp Onion Powder</li>
		<li>.25	tsp Garlic Powder</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Put in milk bath overnight (at least 8 hours)</li>
		<li>Remove chicken, remove excess milk</li>
		<li>Bread chicken</li>
		<li>Let sit (refrigerated) for 30-60 minutes</li>
		<li>Fry in oil @ 350</li>
	</ol>
</div>