<div class="content-item">
	<h1>Chicken and Sausage Jambalaya</h1>
	<span class="yield">Yields 10-12 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>1 lb Chicken Breast</li>
		<li>1 lb Andouille Sausage</li>
		<li>1 Green Bell Pepper</li>
		<li>1 Yellow Onion</li>
		<li>3 Ribs Celery</li>
		<li>3 Cloves Garlic</li>
		<li>32 oz Diced Tomatoes</li>
		<li>16 oz Chicken Stock</li>
		<li>1.25 cup Long Grain Rice</li>
		<li>1 tbsp Worcestershire sauce</li>
		<li>2 Bay Leaves</li>
		<li>1 tsp Basil</li>
		<li>1 tsp Oregano</li>
		<li>1 tsp Sage</li>
		<li>1 tsp Paprika</li>
		<li>1 tsp Creole Seasoning</li>
		<li>1 tsp Salt</li>
		<li>.5 tsp Pepper</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Brown sausage</li>
		<li>Add veggies, reduce until softened</li>
		<li>Add chicken and Worcestershire sauce, cook until outside of chicken is white</li>
		<li>Add spices and broth</li>
		<li>Bring to boil</li>
		<li>Add Rice, bring back up to boil</li>
		<li>Reduce heat to low, cover, let sit for 30 minutes - 1 hour, until rice is wet but not soupy</li>
	</ol>
</div>