<div class="content-item">
	<h1>Collard Greens</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>1 tbsp salt</li>
		<li>1 tsp black pepper</li>
		<li>1 tsp garlic powder</li>
		<li>1 bunch	collard greens</li>
		<li>1 tbsp butter</li>
		<li>1 tbsp tabasco</li>
		<li>.5 lb ham steak with bone</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Wash and cut greens into strips</li>
		<li>Bring water to boil</li>
		<li>Add meat and spices, reduce heat to medium (just below a boil), let go for an hour</li>
		<li>Add greens and butter</li>
		<li>Cook until desired tender but firm, stirring occasionally</li>
	</ol>
</div>