<div class="content-item">
	<h1>Country Fried Steak</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>2 lb Steak (lesser cut ok)</li>
		<li>2 cup Flour</li>
		<li>1 tbsp Baking Powder</li>
		<li>1 tbsp Seasoning Salt</li>
		<li>.5 tsp Cayenne Pepper</li>
		<li>.5 tsp Paprika</li>
		<li>.25	tsp Onion Powder</li>
		<li>.25	tsp Garlic Powder</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Tenderize steak with meat mallet</li>
		<li>Bread steak</li>
		<li>Let sit for 30 minutes</li>
		<li>Fry in oil @ 350</li>
	</ol>
</div>