<div class="content-item">
	<h1>Pineapple Pretzel Salad</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>2 cup crushed pretzels</li>
		<li>1 cup butter</li>
		<li>8 oz cream cheese</li>
		<li>1 cup white sugar</li>
		<li>8 oz whipped topping</li>
		<li>20 oz pineapple</li>
		<li>3.4	oz vanilla pudding mix</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Preheat oven to 375 degrees</li>
		<li>Mix melted butter and pretzels.</li>
		<li>Spray pan with spray, flatten in pretzels</li>
		<li>Bake for 10 minutes</li>
		<li>Cream together cream cheese and sugar. Fold in whipped topping. Spread over cooled crust.</li>
		<li>Combine pineapple and pudding mix. Spread over whipped topping layer.</li>
	</ol>
</div>