<div class="content-item">
	<h1>Strawberry Pretzel Salad</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>2 cup crushed pretzels</li>
		<li>.75	cup	butter</li>
		<li>3 tbsp white sugar</li>
		<li>8 oz cream cheese</li>
		<li>1 cup white sugar</li>
		<li>8 oz whipped topping</li>
		<li>2 cup boiling water</li>
		<li>6 oz strawberry jello mix</li>
		<li>10 oz frozen strawberries</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Preheat oven to 375 degrees</li>
		<li>Stir together crushed pretzels, melted butter and 3 tablespoons sugar</li>
		<li>Grease pan with spray, pack pretzel mixture in</li>
		<li>Bake 8 to 10 minutes, until set. Set aside to cool.</li>
		<li>Mix cream cheese and 1 cup sugar. Fold in whipped topping. Spread mixture onto cooled crust.</li>
		<li>Dissolve gelatin in boiling water. Stir in still frozen strawberries and allow to set briefly.</li>
		<li>Pour and spread over cream cheese layer.</li>
		<li>Refrigerate until set.</li>
	</ol>
</div>