.money {
  background-repeat: no-repeat;
  background-position: center center;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 400px;
}

.watermark {
  background-color: $see-through-black;
  color: $white;

  font-size: 1.7em;
  font-weight: 100;

  border-radius: 90%;
  text-align: center;

  width: 120px;
  height: 120px;
  padding-top: 16px;

  position: relative;
  top: 40px;
  left: 40px;
}

.social {
  position: absolute;
  top: 52px;
  right: 40px;

  width: 105px;
  text-align: center;

	a {
		color: $white;

    background-color: $see-through-black;
	  color: $white;

    font-weight: 200;
    font-size: 1.25em;

    height: 50px;
    width: 50px;
    border-radius: 90%;

    line-height: 50px;
    text-align: center;
	}

  a:first-of-type {
    margin-right: 5px;
  }

  a:last-of-type {
    position: relative;
    top: -2.5px;
  }


  a:hover,
  a:focus,
  a:active,
  a:visited {
    color: $white;
    text-decoration: none;
  }
}