<div class="content-item">
	<h1>Bread Pudding</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Bread Pudding</h2>
	<h3>Ingredients</h3>
	<ul>
		<li>3 eggs</li>
		<li>1.5 cup sugar</li>
		<li>2 tbsp brown sugar</li>
		<li>.5 tsp nutmeg</li>
		<li>.25 cup butter</li>
		<li>2.75 cup whipping cream</li>
		<li>4 cup cubed bread</li>
		<li>.75 cup raisin</li>
	</ul>

	<h3>Instructions</h3>
	<ol>
		<li>Cube bread, toast in oven</li>
		<li>Grease pan</li>
		<li>Put in bread</li>
		<li>Mix in raisins</li>
		<li>Mix the rest together, then pour over bread, distributing evenly</li>
		<li>Bake @ 375 for 30 – 45 minutes, until brown</li>
	</ol>

	<h2>Vanilla Sauce</h2>
	<h3>Ingredients</h3>
	<ul>
		<li>.5 cup sugar</li>
		<li>1 tbsp all purpose flour</li>
		<li>3 tbsp brown sugar</li>
		<li>1 tsp nutmeg</li>
		<li>1 egg</li>
		<li>2 tbsp butter</li>
		<li>1.25 cup whipping cream</li>
		<li>1 tbsp vanilla</li>
	</ul>

	<h3>Instructions</h3>
	<ol>
		<li>Mix everything but the vanilla</li>
		<li>Cook over medium, whisking constantly</li>
		<li>Remove when thick (10-12 minutes)</li>
		<li>Stir in vanilla</li>
	</ol>


</div>