<div class="content-item">
	<h1>Corn Casserole</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>.5 cup butter</li>
		<li>2 eggs</li>
		<li>1 (8.5 ounce) pkg dry corn bread mix</li>
		<li>1 (15 ounce) can whole kernel corn, drained</li>
		<li>1 (14.75 ounce) can creamed corn</li>
		<li>1 cup sour cream</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Heat oven to 350</li>
		<li>Melt butter</li>
		<li>Beat eggs</li>
		<li>Lightly grease 9x9 pan</li>
		<li>Combine all ingredients</li>
		<li>Bake for 45 minutes or until the top is golden brown.</li>
	</ol>
</div>