<div class="content-item">
	<h1>Mac &amp; Cheese</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>1 stick	butter</li>
		<li>5.5	cup milk</li>
		<li>.5 cup flour</li>
		<li>2 tsp kosher salt</li>
		<li>.25	tsp	nutmeg</li>
		<li>.25	tsp	black pepper</li>
		<li>.25	tsp	cayenne pepper</li>
		<li>4.5	cup	cheddar</li>
		<li>1 cup Gruyere</li>
		<li>.5 cup Pecorino Ramano</li>
		<li>1 lb shells</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Melt butter, add flour, stir until you have a roux</li>
		<li>At the same time warm milk, add to roux</li>
		<li>Stir in spices</li>
		<li>Slowly add the cheese (continue stirring to avoid clumping, leave a little cheddar to the side)</li>
		<li>Boil water, and prep shells</li>
		<li>Combine cheese mixture and shells</li>
		<li>Sprinkle remaining cheddar on top</li>
		<li>Bake @ 375 until top is brown (30 minutes)</li>
	</ol>
</div>