<div class="content-item">
	<h1>Prosciutto Wrapped Greens</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>1 package Prosciutto di Parma</li>
		<li>.25 lb Arugala</li>
		<li>2 tbs parmigiano reggiano</li>
		<li>3 tsp olive oil</li>
		<li>2 tsp red wine vinegar</li>
		<li>2 tsp lemon juice</li>
		<li>1 tsp salt</li>
		<li>1 tsp cracked black pepper</li>
		<li>.5 tsp Dijon Mustard</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Mix olive oil, vinegar, lemon juice, dijon mustard</li>
		<li>Wash arugala</li>
		<li>Toss arugala with parmigiano reggiano, salt, pepper</li>
		<li>Toss with mixture from step 1</li>
		<li>Roll greens, cut, wrap in prosciutto</li>
	</ol>
</div>