<div class="content-item">
	<h1>Prosciutto with Melon</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>1 Honeydew Melon</li>
		<li>1 package Prosciutto di Parma</li>
		<li>.5 tsp lime juice</li>
		<li>.5 tsp crushed red flakes</li>
		<li>.25 tsp	Kosher salt</li>
		<li>2 mint leaves</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Ball Melon</li>
		<li>Mix lime juice, red pepper flakes, salt, mint (reserve 1/2 leaf of mint for step 5)</li>
		<li>Lightly toss in mixture</li>
		<li>Wrap in prosciutto</li>
		<li>Sprinkle remaining mint</li>
		<li>Drizzle olive oil</li>
	</ol>
</div>