<div class="content-item">
	<h1>Smoked Pulled Pork</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Equipment</h2>
	<ul>
		<li>Smoker</li>
	</ul>

	<h2>Ingredients</h2>
	<ul>
		<li>5 lbs Pork Butt</li>
		<li>.33 cup Rub</li>
		<li>1 cup Yellow Mustard</li>
	</ul>

	<h3>Rub</h3>
	<span class="yield">Yields 3 cups of rub</span>
	<ul>
		<li>.75 cup brown sugar</li>
		<li>.75	cup white sugar</li>
		<li>.5	cup paprika</li>
		<li>.25 cup kosher salt</li>
		<li>.25 cup garlic powder</li>
		<li>2 tbsp black pepper</li>
		<li>2 tbsp ginger powder</li>
		<li>2 tbsp onion powder</li>
		<li>2 tsp rosemary powder</li>
		<li>2 tsp celery seed powder</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Rub down pork butt with mustard until all is covered lightly</li>
		<li>Add rub until covered</li>
		<li>Wrap in foil, refrigerate overnight</li>
		<li>Smoke butt in smoker at 225 for 8-10 hours until pork is 195</li>
		<li>Remove pork, wrap in foil, let rest for 20 - 30 minutes</li>
		<li>Pull pork apart with bare hands</li>
	</ol>
</div>