<div class="content-item">
	<h1>Sweet Potato Casserole</h1>
	<span class="yield">Yields 6-8 Servings</span>

	<h2>Ingredients</h2>
	<ul>
		<li>3 cup sweet potato (about 5 lb of sweet potato)</li>
		<li>1 cup brown sugar</li>
		<li>2 eggs</li>
		<li>1 tsp vanilla</li>
		<li>.5 cup milk</li>
		<li>.5 cup butter</li>
	</ul>

	<h2>Instructions</h2>
	<ol>
		<li>Heat oven to 400</li>
		<li>Place sweet potatoes directly on rack, roast for about 1 hour, until inside is firm, but malleable (place tray or foil underneath rack to protect oven)</li>
		<li>Remove potatoes, let rest for 15 minutes</li>
		<li>Peel potatoes</li>
		<li>Mash potatoes</li>
		<li>Melt Butter</li>
		<li>Mix all</li>
		<li>Sprinkle brown sugar lightly on top</li>
		<li>Bake @ 350 for 20 – 30 minutes</li>
	</ol>
</div>