<div class="content-item">
	<h1>React Native To The Rescue</h1>
	<p>
    Users want their apps to be intuitive - designed for their device. Developers want powerful tools that enable them to craft their vision into reality. Businesses want to reduce time to market, cost, and risk. In cross platform mobile development these needs often conflict, inevitably leading to someone losing. Many tools have tried, yet none have solved the problem without compromise. Either users give up their native experience, developers are hindered by subpar tools, or businesses are forced to increase time, cost, and risk. We need to do better.
  </p>
  <p>
    React Native promises to answer these needs without the compromise. This talks explores how React Native empowers developers to create native apps that are delightful to use and answer the real needs of business. Through building a cross platform app, you will learn how React Native's approach enables enjoyable development, reduces cost and complexity, and produces an experience equal to native development. Come see if React Native can rescue you from compromise.
	</p>
	<p>
	Visit the source here: <a href="https://github.com/jgretz/ReactNativeToTheRescue" target="_blank">GitHub</a>
	</p>
</div>
