<div class="content-item">
	<h1>React Native: Cross Platform Mobile At Ludicrous Speed</h1>
	<p>
		Crafting cross platform mobile apps that are intuitive, compelling, and maintainable has long been a goal of mobile developers. React Native empowers you to achieve this dream. It enables rapid development cycles, fosters collaboration, increases sanity, and encourages solid coding practices. If the possibility of quickly writing clean code that runs on both iOS and Android is intriguing, then this workshop is for you.
	</p>
	<p>
		Guided from "Hello World" to crafting a complex cross platform application, you will start by creating a blank project and then build a basic app that will explore layout, styling, data flow, and debugging. Equipped with that knowledge, you will expand the app to include data access and manipulation, navigation, local caching, and testing. As a final bit of magic, you will enable live updates to the app that won't require a trip to the app store.
	</p>
	<p>
		Come learn React Native so you too can go to ludicrous speed.
	</p>
	<p>
	Visit the source here: <a href="https://github.com/jgretz/ReactNativeCrossPlatformMobileAtLudicrousSpeed" target="_blank">GitHub</a>
	</p>
</div>
