<div class="content-item">
	<h1>Time Is Trying To Kill You</h1>
	<p>
		As a developer today, you are living in a unique era of history. With only a laptop, notepad, and a cup of coffee you can craft a magical reality from the ether of dreams. Sadly, despite wielding this distinctive talent, many developers allow the value of the work they create to be judged by century old methods designed to measure the efficiency of manufacturing gun powder. This talk is a call to arms presented by a recovering workaholic, who throughout his recovery has been searching for a better way. It will explore the concept of value, trace the history of using time as a metric, discuss the effect time tracking has on humans, and propose a couple of potentially better ways. Come join the revolution and change your perspective on the value your work adds to the world.
	</p>
	<p>
	Visit the source here: <a href="https://github.com/jgretz/TimeIsTryingToKillYou" target="_blank">GitHub</a>
	</p>
</div>
