$black: #000;
$white: #fff;
$white: #fff;

$crimson: #da2021;
$blue: #13acd8;
$orange: #f8981d;
$lightgreen: #76f099;

$see-through-black: rgba(0, 0, 0, .6);

.white {
	color: $white;
}

$dash: $orange;

.dash {
	color: $dash;
}