$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
$fa-font-path: '~font-awesome/fonts/';

@import '~bootstrap-sass/assets/stylesheets/_bootstrap';
@import '~font-awesome/scss/font-awesome';

@import './colors';
@import './fonts';

@import './global';

@import '../features/pages/styles/style';
@import '../features/menu/styles/style';

.site {
  background-color: $white;
}