.menu {
  font-family: $roboto-slab;

  padding-top: 20px;
  text-align: center;

  li {
    font-weight: 300;
    font-size: 1.5em;
  }

  hr {
    background-color: $dash;
    margin-bottom: 0;

    height: 1px;
  }

  a.active, a:focus {
    color: $dash;
    
    text-decoration: underline;
  }
}