.footer {
	background-color: #000;

	margin-top: 10px;
	height: 30px;

	font-family: $roboto-slab;
	font-weight: 200;
	font-size: 1.15em;
	color: $white;

	ul {
		margin-top: 5px;
	}

	a {
		color: $white;
	}
}