<div class="content-item">
	<h1>iOS Conf</h1>
	<p>
	This is a simple app I made a couple years ago for <a href="http://pghtechfest.com/" target="_blank">PGH TechFest</a>. I've since adapted it for personal use for a couple other conferences:
	<ul>
		<li><a href="http://thatconference.com" target="_blank">ThatConference</a></li>
		<li><a href="http://codemash.org" target="_blank">CodeMash</a></li>
	</ul>
	I plan to update it for CodeMash 2016 and try to get it out in time for the app store.
	</p>
	<p>
	Visit the source here: <a href="https://github.com/jgretz/iOSConf" target="_blank">GitHub</a> 
	</p>
</div>