<div class="content-item">
	<h1>Cereal</h1>
	<p>
	Cereal is a lightweight serialization framework for iOS. Its uniqueness is that it will serialize and deserialize objects from / to their actual class not raw dictionaries and arrays. This means no more fat fingering the name of a property, you get intellisense and compile time checks.
	</p>
	<p>
	It does depend on my IOC / DI framework (<a href="lab/coremeta">CoreMeta</a>). the benefit is that due to that all objects that are deserialized will also be injected, subject to type redirection, and all the other IOC / DI goodies.
	</p>
	<p>
	It is currently written in Objective-C, although it is compatible with Swift. I am currently rewriting it in Swift and doing some upgrading and clean up along the way.
	</p>
	<p>
	It will serialize and deserialize from the following formats:
	<ul>
		<li>JSON</li>
		<li>XML</li>
		<li>CSV</li>
	</ul>
	</p>
	<p>
	Visit the source here: <a href="https://github.com/jgretz/Cereal" target="_blank">GitHub</a> 
	</p>
</div>