<div class="experiment">
	<h1>Objective-C Can Do What ?!?!?</h1>
	<p>
		This is a talk I put together to discuss some of the cool things the Objective-C language can do (such as introspection, swizzling, etc). the ultimate goal was to encourage people to write <a href="https://scotch.io/bar-talk/s-o-l-i-d-the-first-five-principles-of-object-oriented-design">SOLID</a> code, but it also set the foundation for what I did with my Objective-C IOS framework.<a href="https://github.com/jgretz/CoreMeta">CoreMeta</a>
		<br /><br />
		I presented this talk at That Conference 2013.
		<br /><br />
		View the full abstract here: <a href="https://github.com/jgretz/ObjectiveCCanDoWhat" target="_blank">GitHub</a> 
	</p>
</div>