<div class="lab-item">
	<h1>Time Is Trying To Kill You</h1>
	<div class="type inline bg-info">{{info}}</div>
	<p>
		This is a talk I've been putting together for a while. I'll be presenting it at <a href="https://www.thatconference.com/sessions/session/6965" target="_blank">ThatConference 2015</a>.
		<br /><br />
		This talk examines how we view the value of what we do as developers, how we came to be judged by hours, and how we can move to a better place.
		<br /><br />
		View the full abstract here: <a href="https://github.com/jgretz/TimeIsTryingToKillYou" target="_blank">GitHub</a> 
	</p>
</div>