.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 50px;
  margin: 10px 0;

  box-shadow: 1px;

  img {
    height: 50px;
  }

  a {
    padding: 10px 10px 0 10px;
    font-size: 30px;
    color: $gray;
  }
}
